@import "tailwindcss";

@layer base {
    html {
        font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    }

    body {
        @apply antialiased text-gray-900 bg-gray-50;
        margin: 0;
        min-width: 320px;
        min-height: 100vh;
    }
}
